.header {
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem;
    background-color: #06718b;
    position: fixed;
    top: 0;
}

h1{
    color: #fff; 
    font-size: 25px;  
}