

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
   margin-top: 20%;
}

.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.certificates h1 {
    font-size: 2em; /* Increase font size */
    color: #443d3d; /* Change text color */
    margin-bottom: 20px; /* Add margin below heading */
}

.certificates p {
    color: #000000;
    font-size: 1.2em; /* Increase font size */
    line-height: 1.6; /* Improve readability */
}

.certifi {
    width: 100%;
    flex-direction: column;
    background-color: #747474; /* Add background color */
    padding: 15px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: transform 0.3s ease; 
    text-decoration: none;
}

.certifi:hover {
    transform: translateY(-5px); /* Add hover effect */
}